<nav>
  <input class="menu-btn" type="checkbox" id="menu-btn" />
  <label class="menu-icon" for="menu-btn"><span class="nav-icon"></span></label>

      <ul class="menu">
        <li><a href="#services" class="{% if page.url == '/' %}current{% endif %}">Services</a></li>
        <li><a href="#reel" class="{% if page.url == '/services.html' %}current{% endif %}">Reel</a></li>
        <li><a href="#portfolio" class="{% if page.url == '/portfolio.html' %}current{% endif %}">Portfolio</a></li>
        <li><a href="#contact" class="{% if page.url == '/insights.html' %}current{% endif %}">Contact</a></li>
      </ul>
</nav>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-scrollTo/2.1.2/jquery.scrollTo.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-localScroll/2.0.0/jquery.localScroll.min.js"></script>
<script src="/js/jquery.waypoints.min.js"></script>
<script src="/js/main.js"></script>
