<nav>
  <input class="menu-btn" type="checkbox" id="menu-btn" />
  <label class="menu-icon" for="menu-btn"><span class="nav-icon"></span></label>

      <ul class="menu">
        <li><a href="{{site.baseurl}}/index.html" class="{% if page.url == '/' %}current{% endif %}">Home</a></li>
        <li><a href="{{site.baseurl}}/portfolio.html" class="{% if page.url == '/portfolio.html' %}current{% endif %}">Portfolio</a></li>
        <li><a href="{{site.baseurl}}/insights.html" class="{% if page.url == '/insights.html' %}current{% endif %}">Insights</a></li>
      </ul>
</nav>
