@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

body {
  margin: 0;
}

html,
body {
  font-family: 'Rubik', sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

h1, h2, h3, h4, {
  font-family: 'DM Serif Text', serif;
}

::selection {
  color: white;
  background: #1f1bff;
}
::-moz-selection {
  color: white;
  background: #1e22fb;
}

.logo-img {
  width: 110px;
  cursor: pointer;
}

.service-img {
  width: 90px;
  color: yellow;
  text-align: left;
}

.header {
  position: absolute;
  width: 100%;
  z-index: 100;
  height: 100px;
}

header.logo, header.logo {
  width: 76px;

}

.header ul {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 100px;
  right: 25px;
  list-style: none;
  overflow: hidden;
  border-radius: 5px;
  background-color: #000000e6;
}

.header a {
  font-family: 'DM Serif Text', serif;
}

.header li a {
  display: block;
  text-align: center;
  padding: 20px 20px;
  color: white;
  text-decoration: none;
  transition: all .2s ease-out;
}

.header li a:hover,
.header .menu-btn:hover {
  color: black;
  background-color: #e9982d;
  text-decoration:none;
}

.header .logo {
  display: block;
  float: left;
  font-size: 2em;
  margin: 20px;
  margin-left: 20px;
  text-decoration: none;
}

/* menu */

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
  position: fixed;
}
/* menu icon */


.header .menu-icon {
  cursor: pointer;
  float: right;
  padding: 12px 22px;
  position: relative;
  user-select: none;
  margin-right: 48px;
  margin-top: 50px
}

.header .menu-icon .nav-icon {
  background: #080808;
  display: block;
  height: 5px;
  position: fixed;
  transition: background .2s ease-out;
  width: 30px;
  right: 55px;
}

.header .menu-icon .nav-icon:hover {
  background: #ffffff;
}
.header .menu-icon .nav-icon:before,
.header .menu-icon .nav-icon:after {
  background: #e9982d;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .4s ease-out;
  width: 100%;
}

.header .menu-icon .nav-icon:before {
  top: 5px;
}

.header .menu-icon .nav-icon:after {
  top: -5px;
}

/* menu btn */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 372px;
}

.header .menu-btn:checked ~ .menu-icon .nav-icon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .nav-icon:before {
  transform: rotate(-45deg);
  top:0;
}

.header .menu-btn:checked ~ .menu-icon .nav-icon:after {
  transform: rotate(45deg);
  top:0;
}


.showcase {
  position: relative;
}

.showcase video {
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  opacity: 0.8;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #7b542b;;
  opacity: .4;
  z-index: 3;
  mix-blend-mode: overlay;
}

.hero-text {
  position: absolute;
  z-index: 11;
  top: 280px;
  background-color: rgba(0, 0, 0, 0.85);
  padding: 20px 0px;
  left: 50%;
  transform: translate(-50%, 0);
  border-radius: 8px;
  width: 90%;

}

.hero-text h2 {
  color: #e9982d;
  font-size: 2em;
  font-family: 'Rubik', serif;
  font-weight: 800;
  line-height: 1.2em;
  margin: 0;
  text-shadow: 2px 2px black;
  text-align: left;
  padding-left: 15px;
}

.hero-text-btn {
  text-align: left;
  padding: 0px 0px 20px 15px;
}

.hero-text-btn .hovbtn a {

  padding: 10px 15px;
  display: inline-block;
  text-decoration: none;
  transition: all .2s ease-out;
  border-radius: 25px;
  color: black;
}


.glow-service a:hover {
  color: #e9982d;

}


.hero-text-btn a:hover {
  color: white;
}
.hero-service-btn {
  font-size: 1.2rem;
  text-decoration: none;
  color: #e9982d;
  font-family: 'DM Serif Text', serif;
  
}

.hero-service-btn:hover {
  transition: all .2s ease-out;
}

.title-tag {
  font-family: 'Rubik', serif;
  font-size: 15px;
  font-weight: 700;
  line-height: 1em;
  color: #fff;
  padding: 0px 0px 0px 15px;
}


.title-tag-p {
  font-family: 'Rubik', serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  color: #fff;
  padding: 3px 3px 10px 13px;

}

.hero-btn-thnk {
  text-align: left;
  padding: 0px 0px 20px 0px;
}

.hero-btn-thnk a {
  display: inline-block;
  font-family: 'DM Serif Text', serif;
  font-size: 1.2em;
  color: black;
  background: white;
  padding: 10px 25px;
  text-decoration: none;
  transition: all .2s ease-out;
  border-radius: 25px;
}

.hero-btn-thnk a:hover {
    background: #00030f;
    color: white;
}

.hovbtn {
  margin: 10px;
  padding: 5px 5px;
  border: none;
  outline: none;
  color: #000000;
  position: relative;
  cursor: pointer;
  z-index: 0;
  border-radius: 12px;
  font-family: 'DM Serif Text', serif;
  font-size: 1.2rem;

}

.hovbtn::after {
  content: "";
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  left: 0;
  top: 0;
  border-radius: 10px;
}

.hovbtn::before {
  content: "";
  background: linear-gradient(
    45deg,
    #FF0000, #FF7300, #FFFB00, #48FF00,
    #00FFD5, #002BFF, #FF00C8, #FF0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 600%;
  z-index: -1;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  filter: blur(8px);
  animation: glowing 20s linear infinite;
  transition: opacity .3s ease-in-out;
  border-radius: 8px;
  opacity: 1;
  color: black;
}

@keyframes glowing {
  0% {background-position: 0 0;}
  50% {background-position: 400% 0;}
  100% {background-position: 0 0;}

}

/* hover */
.hovbtn:hover::before {
opacity: 1;
}

.hovbtn:hover::after {
  background: transparent;
  color: black;
  transition: opacity .3s ease-in-out;
}

.hovbtn:active {
  color: #ffffff;
  font-weight: bold;
}

.thanks {
margin: 20px 20px;
}

.thank-you {
  background-color: #e9982d;
  font-family: 'DM Serif Text', serif;
  line-height: 1.3rem;
  border-radius: 8px;
  padding: 20px 20px;
  margin: 169px 20px 100px;
}

.thank-you h2 {
  line-height: 2.4rem;
  font-size: 1.9rem;
}

.thank-you p {
  line-height: 1.9rem;
  font-size: 1.5rem;
}

.intro-text {
  text-align: left;
  padding: 0px 20px 20px;
  font-size: 1.9em;
  font-family: 'DM Serif Text', serif;
  background-color: white;
  margin: 0;
}

.clients-bg {
  background-color: rgb(241 241 241);
  border-radius: 10px;
  margin: 20px 20px;
  text-align: center;
}

.clients-bg h4 {
padding: 15px 0PX 0px;
margin-bottom: 0px;
color: rgb(179, 179, 179);
font-weight: 600;
font-size: 1em;
}


.contact-form-box {
  font-family: 'Rubik', serif;;
  font-weight: 300;
  margin-top: 20px;
  margin-bottom: 20px;
}

.contact-form-box h2 {
  padding-left: 20px;
  margin-bottom: 0px;
  font-size: 1.4em;
  margin-top: 0px;
  letter-spacing: 2px;
  text-align: left;
}

.contact-form-box p {
padding-left: 20px;
  margin-top: 0px;
  font-size: 1em;
  font-family: 'Rubik', serif;
  text-align: left;
}


.contact-form-box2 {
  font-family: 'Rubik', serif;
  font-weight: 300;
  margin-bottom: 20px;
  background-color: #f1f1f1;
  padding: 25px 0px;
  border-radius: 8px;
}

.contact-form-box2 h2 {
  margin: 0;
  font-size: 1.1em;
  text-align: center;
  color: #000000;
  letter-spacing: 2px;
  line-height: 1.9rem;
}

.contact-form-box2 p {
padding-left: 20px;
  margin-top: 14px;
  font-size: 1.4em;
  text-align: center;
}

.hyperlink {
  text-decoration: none;
  font-weight: 800;
}

.hyperlink a:hover {
  color: rgb(198, 9, 9);
}



.textareanone {
  resize: none;
}

/* Beginning of form */

#contact {
  padding: 0px 10px 20px;
  text-align: left;
  
}

#contact2 {
  padding: 0px 10px 20px;
  text-align: left;
  
}

#contact-form {
  width: 330px;
  left: 50%;
  transform: translate(-50%, 0);
  position: relative;

}

#contact-form2 {
  text-align: left;
  margin: auto;
  width: 80%;
}

#contact-form input, #contact-form textarea {

  display: block;
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  border: none;
  margin-bottom: 10px;
  background: #f0db99;
  color: #000109;
  transition: .5 ease all;
  font-family: 'Rubik', serif;
  font-size: 13px;
  max-width: 100%; 
  height: auto; 
  min-height: 30px;
  resize: vertical; 
}

#contact-form2 input, #contact-form2 textarea {

  display: block;
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  border: none;
  margin-bottom: 10px;
  background:#f0db99;
  color: #000109;
  transition: .5 ease all;
  font-family: 'Rubik', serif;
  font-size: 13px;
  max-width: 100%; 
  height: auto; 
  min-height: 30px;
  resize: vertical; 
}


#contact-form button {
  background: #000109;
  padding: 10px 25px;
  border-radius: 25px;
  color: white;
  letter-spacing: 1px;
  font-family: 'Rubik', serif;
  transition: all .2s ease-out;
}

#contact-form2 button {
  background: #000109;
  padding: 10px 25px;
  border-radius: 25px;
  color: white;
  letter-spacing: 1px;
  font-family: 'Rubik', serif;
  transition: all .2s ease-out;
}

#contact-form button:hover {
  background: orange;
  color: #ffffff;
  outline-color: white;

}

#contact-form2 button:hover {
  background: orange;
  color: #ffffff;
  outline-color: white;

}

button, html input[type="button"], input[type="reset"], input[type="submit"] {

  -webkit-appearance: button;
  cursor: pointer;
}
/* End of Form */


.send-msg-form {
  font-family: 'Rubik', serif;
}


.service-icon {
  padding: 5px;
  margin: 0;
  text-align: center;
  list-style-type: none;
  z-index: 10;

}


.reel-stats {
  font-size: 1.2rem;
  font-family: 'Rubik', serif;
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: space-around;
  text-decoration: none;
  margin-top: 1.5rem;
  padding-left: 0;

}

.reel-pos {
  list-style: none;
  text-decoration: none;
  padding-left: 0;
}

.services-box {

  justify-content: space-evenly;
  list-style: none;
  text-decoration: none;
  padding-left: 0;
}

.service-cap {
  color: #fff;
  text-align: left;
  font-family: 'Rubik', serif;
  font-weight: 800;
  margin: 8px 0px;
  font-size: 1.5em;
}

.service-box {

  padding:20px;
  margin: 15px 15px 0px;
  opacity: 1;
  background-color: #4f4f4f;
  height: 370px;
  border-radius: 8px;
}


.service-text{
  text-align: left;
  margin: 0 auto;
  font-family: 'Rubik', sans-serif;
  font-weight: 600;
  color: #ffae14;
  font-size: 1.3rem;

}

.service-para {
  max-width: 380px;
  padding-left: 5px;
  font-weight: 300;
  font-size: 1.1rem;
  text-align: left;
  color: rgb(255, 255, 255);

}

.services {
  background-color: #ffffff;
  z-index: -3;
}

.services h2{
  font-family: 'Rubik', serif;
  font-size: 3em;
  padding: 20px 20px 0px;
  margin: 0;
  text-align: left;
  color: rgb(0, 0, 0);
}

.clients-items {
text-align: center;
 margin: 0px auto;
}

.img-client {
  width: 80%;
  padding: 0;
}

.service-bg1 {
  background: #000000;
  background: url("../images/servicebg/marketing.webp");
  background-size: cover;
}

.service-bg2 {
  background: #9e7900;
  background: url("../images/servicebg/gdesign.webp");
  background-size: cover;
}

.service-bg3 {
  background: #3402be;
  background: url("../images/servicebg/videography.webp");
  background-size: cover;
}
.service-bg4 {
  background: #d300a9;
  background: url("../images/servicebg/webdev.webp");
  background-size: cover;
}



.card-container {
display: flex;
justify-content: center;
align-items: center;
flex-wrap: wrap;
gap: 30px;
margin-top: 25px;
}
.creative-card {
width: 390px;
height: 390px;
background: url("../images/create-talent.jpg") no-repeat center center;
background-size: cover;
border-radius: 15px;
padding: 20px;
color: #ffffff; /* Text color */
box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
text-align: center;
transition: transform 0.3s, box-shadow 0.3s;
text-decoration: none; /* Remove underline */
}
.creative-card:hover {
transform: translateY(-10px);
box-shadow: 0 8px 30px rgba(0, 0, 0, 0.3);
}

.creative-card2 {
width: 390px;
height: 390px;
background: url("../images/create-embed.jpg") no-repeat center center;
background-size: cover;
border-radius: 15px;
padding: 20px;
color: #ffffff; /* Text color */
box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
text-align: center;
transition: transform 0.3s, box-shadow 0.3s;
text-decoration: none; /* Remove underline */
}
.creative-card2:hover {
transform: translateY(-10px);
box-shadow: 0 8px 30px rgba(0, 0, 0, 0.3);
}



.creative-card3 {
width: 390px;
height: 390px;
background: url("../images/create-sell.jpg") no-repeat center center;
background-size: cover;
border-radius: 15px;
padding: 20px;
color: #ffffff;
box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
text-align: center;
transition: transform 0.3s, box-shadow 0.3s;
text-decoration: none;
}
.creative-card3:hover {
transform: translateY(-10px);
box-shadow: 0 8px 30px rgba(0, 0, 0, 0.3);
}

.pack-services h2 {
  font-family: 'Rubik', serif;
  font-size: 3em;
  padding: 20px 20px 0px;
  margin: 0;
  text-align: left;
  color: rgb(0, 0, 0);
  
}

.card-container p {
margin: 0;
font-size: 40px;
color: black;
text-align: left;
font-weight: 800;
}
.card-container h3 {
margin: 10px 0;
font-size: 18px;
color: black;
text-align: left;
}
.card-container ul {
list-style-type: none;
padding: 0;
font-size: 16px;
}
.card-container li {
margin: 5px 0;
color: black;
text-align: left;
font-size: 20px;
list-style-type: none;
}

.learnmore li {
  padding-top: 100px;
  color: white;
}

@media (max-width: 768px) {
.creative-card {
width: 90%;
}

.creative-card2 {
width: 90%;
}

.creative-card3 {
width: 90%;
}

}




.caro-head {
  margin: 0px 20px 60px 20px;
  background-color: rgb(255, 255, 255);
  border-radius: 8px;
}

.carousel-bg {
  font-family: Arial, sans-serif;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 10px;
  border-radius: 8px;
  
}

.carousel {
  position: relative;
  width: 100%;
  overflow: hidden;
  height: 480px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);

}

.carousel-images {
  display: flex;
  transition: transform 0.5s ease;
}

.carousel-item {
  min-width: 100%;
  position: relative;
}

.carousel img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  cursor: pointer;
}

.carousel-controls {
  position: absolute;
  top: 50%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
}

.btn8 {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
}

.btn8:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.caro-head h2 {
  font-family: 'Rubik', serif;
    font-size: 3em;
    padding: 20px 20px 0px;
    margin: 0;
    text-align: left;
    color: rgb(0, 0, 0);
}

/* Modal Styles */
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.926);
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal img {
  max-width: 90%;
  max-height: 90%;
  border-radius: 10px;
}

.close-btn {
  position: absolute;
  top: 20px;
  right: 30px;
  background-color: red;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
  z-index: 1001;
}

.caption1 {
  font-family: 'Rubik', serif;
  text-align: left;
  display: block;
  padding: 10px;
  font-size: .8em;
  color:#ffae14;
  background-color: #121212b5;
  border-radius: 5px;
  position: absolute;
  top: 420px;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2); 

}

.portfolio-section {
  background-color:rgb(202, 202, 202);
  border-radius: 10px;
  margin: 20px 20px; 
}

.portfolio-section h2 {
  text-align: left;
  font-family: 'Rubik', serif;
  font-size: 3em;
  margin: 0;
  padding: 20px 20px 0px;
  line-height: 49px;
  letter-spacing: 0;
  color: #090909;
}

.reel-box {
  padding: 10px 20px 0px;
}

.reel-boxport {
  padding: 10px 20px 0px;
}
.package-box-title {
  font-family: 'Rubik', serif;
  font-weight: 800;
  font-size: 1.5rem;
  color: #ffffff;
}

.package-box {
  padding: 20px;
  margin: 15px 15px 15px;
  color:#ffae14;
  border-radius: 5px;
  height: 450px;
  box-shadow: 6px 6px 7px 0px #a1a1a1;
}

.package-box-bg0 {
  background: url("../images/packages/socialmedia-package.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-blend-mode: overlay;
  background-color: #6b6b6b;
}

.package-box-bg1 {
  background: url("../images/packages/videoproduction-package.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-blend-mode: overlay;
  background-color: #6b6b6b;
}

.package-box-bg2 {
  background: url("../images/packages/branding-package.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-blend-mode: overlay;
  background-color: #6b6b6b;
}

.package-box-bg3 {
  background: url("../images/packages/websitedesign-package.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-blend-mode: overlay;
  background-color: #6b6b6b;
}

.package-box-bg4 {
  background: url("../images/packages/editing-package.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-blend-mode: overlay;
  background-color: #6b6b6b;
}

.package-box-bg5 {
  background: url("../images/packages/specialevents-package.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-blend-mode: overlay;
  background-color: #6b6b6b;
}

.package-para {
  max-width: 530px;
  min-width: 200px;
  color: #ffffff;
  margin-top: 24px;
  font-weight: 600;
}

.packages-pack {
  margin: 20px 20px;
  background-color: #ffffff;
  border-radius: 10px;

}

.packages-pack h2 {
  font-family: 'Rubik', serif;
    font-size: 3em;
    padding: 20px 20px 0px;
    margin: 0;
    text-align: left;
    color: rgb(0, 0, 0);
}


.package-price {

  text-align: right;
  font-size: 1.5rem;
  font-weight: 800;
  margin: 0;
  color: #f9aa16;
}


.package-tag {
  
  text-align: right;
  font-size: .9rem;
  text-decoration: none;
  margin: 0;
  color: white;
  
}



.pcontainer {
  width: 300px;
  margin: 20px;
}
.card {
  background: #4a90e2; /* Blue background */
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  transition: max-height 0.3s ease, padding 0.3s ease;
  max-height: 60px;
  padding: 10px;
  margin: 10x 10px;
  position: relative;
  color: white; /* White text for contrast */
  cursor: pointer; /* Pointer cursor when not expanded */
}
.card.expanded {
  max-height: 1000px;
  padding: 10px 10px 40px;
  background: #0056b3; /* Darker blue when expanded */
}
.info {
  display: none;
}
.card.expanded .info {
  display: block;
}
.arrow {
  font-size: 24px;
  position: absolute;
  right: 10px;
  top: 10px;
  transition: opacity 0.3s ease;
  opacity: 0; /* Hidden by default */
}
.card.expanded .arrow {
  opacity: 1; /* Show when expanded */
}
.arrow::before {
  content: '✖'; /* X sign */
  color: #ffffff; /* Arrow color */
}
.card.expanded {
  cursor: auto; /* No pointer cursor when expanded */
}





.portfolio h2{
  font-family: 'Rubik', serif;
  font-size: 3em;
  padding: 20px 20px 20px;
  text-align: left;
  text-decoration: underline;
  color: white;
  margin: 0;
}
.contact-bg-ft {
    margin: 20px 20px;
    border-radius: 10px;
    background-color: rgb(247 247 247);
}

.getintouch  {
  font-family: 'Rubik', serif;
  font-size: 3em;
  padding: 20px 20px;
  margin: 0;
  text-align: left;
  color: rgb(189, 189, 189);
}
.services ul {
  list-style-type: none;
  padding-left: 0;
}

/* SERVICES SECTION ENDS*/

/* quiz box css begin */



.service-quiz-box {
      background: #ffffff;
      padding: 40px;
      max-width: 550px;
      margin: auto;
      border-radius: 20px;
      box-shadow: 0 8px 20px rgba(0,0,0,0.08);
    }

    .service-quiz-box h2 {
     letter-spacing: 0;
    }

    .service-quiz-heading {
      font-size: 24px;
      margin-bottom: 20px;
      color: #222;
    }


    .service-quiz-select {
      width: 100%;
      padding: 15px;
      font-size: 16px;
      border-radius: 10px;
      border: 1px solid #ccc;
      margin-bottom: 20px;
      background-color: #f9f9f9;
    }

    .service-quiz-button {
      padding: 12px 30px;
      font-size: 16px;
      background-color: #ff6600;
      color: white;
      border: none;
      border-radius: 10px;
      cursor: pointer;
      transition: background-color 0.2s ease;
    }

    .service-quiz-button:hover {
      background-color: #e65600;
    }

    .service-quiz-result {
      margin-top: 25px;
      font-size: 17px;
      color: #333;
      letter-spacing: 0;
    }

    .service-quiz-result a {
      color: #ff6600;
      text-decoration: none;
      font-weight: bold;
    }

    .service-quiz-result a:hover {
      text-decoration: underline;
    }



/* end */





.stats-bg2 {
  color: rgb(77 52 6);
  background: url("../images/packages/proof-image.webp");
  padding: 40px;
  background-size: cover;
  min-height: 400px;
}
.stats-bg3 {
  color: rgb(77 52 6);
  background: url("../images/about-us-img.webp");
  padding: 40px;
  margin: auto 20px;
  font-weight: 900;
  min-height: 315px;
  border-radius: 8px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.fig-caption {
  font-size: 14px;
    padding: 10px 25px;
    color: gray;
}

.package-text {
  text-align: center;
  margin: 0;
}

.package-text2 {
  text-align: center;
  margin: 0;
  color: #e9982d;
  font-weight: 600;
}

.about {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 600;
  font-family: 'DM Serif Text', serif;
  background-color: ;
  padding: 3em 0;
  overflow: hidden;
  position: relative;
}

.srv-btn{
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 3rem;
}

.srv-btn a:hover {
  background: orange;
  color: #ffffff;
}

.srvs-btn{
  font-family: 'Rubik', serif;
  background: #000109;
  color: white;
  text-decoration: none;
  padding: 10px 25px;
  border-radius: 25px;
  transition: all .2s ease-out;
  letter-spacing: 1px;
}

.packagebtn{
  text-align: right;

}

.packagebtn a:hover {
  background: #e9982d;
  color: white;

}

.srvspackagebtn {
  font-family: 'Rubik', serif;
  background: #fff;
  color: #000109;
  text-decoration: none;
  padding: 10px 25px;
  border-radius: 25px;
  transition: all .2s ease-out;
  letter-spacing: 1px;
}

.video-tag {
  text-align: center;
  text-decoration: none;

}

.wrapper {
  max-width: 850px;

}

.embed {
  overflow: hidden;
  width: 100%;
  position: relative;
  border-radius: 8px;
}

.embed-item {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.embed-16by9 {
  padding-top: 56.25%;
}

.reel-vid{
  padding: 0 2em;
}

.reel-para {
  text-align: left;
  font-size: 1.2rem;
  font-family: 'Rubik', sans-serif;
}

.masthead-uni-header {
  padding: 1em;
  background-color: #000;
  background: url("../images/portfolio-piece-header-image.jpg");
  background-size: cover;
  height: 12em;
}

.headcent{
  text-align: center;
  padding-top: 13rem;
}

.img-flex {
  display: block;
  width: 100%;
}

.piece-text-in {
  margin: 2rem 2rem;
 }

.port-piece-title {
  font-size: 2.7rem;
  font-family: 'Rubik', sans-serif;
  margin: 0;
}

.about p {
  margin:0;
}

.gray {
  color: #fff;
}

.black {
  color: #000;
}

.para-contact {
  text-align: center;
  padding: 0 2em;
  font-size: 1.4rem;
  font-family: 'Rubik', sans-serif;
  color: rgb(0, 0, 0);
}

.vidbox {
  padding: 20px;
}


.desc-text p {
  margin:4px;
}

.reel-title {
  margin: 0;
  padding: 20px 20px 0px;
  color: #e9982d;
}

.heheclass {
  font-family:'Rubik', sans-serif;
  font-weight: 300;
  font-size: 13px;
}

.reel-text {
  text-align: left;
  font-family: 'Rubik', sans-serif;
  color: rgb(0, 0, 0);
  font-weight: 600;
  font-size: 20px;
  opacity: 0.9;
  margin: 0;
  padding: 10px 20px 10px;
}

.reel-titleport {
  margin: 0;
  padding: 20px 20px 0px;
  color: #e9982d;
}

.reel-textport {
  text-align: left;
  font-family: 'Rubik', sans-serif;
  color: rgb(0, 0, 0);
  font-weight: 600;
  font-size: 20px;
  opacity: 0.9;
  margin: 0;
  padding: 10px 20px 10px;
}


.socials {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  justify-content: center;
  padding: 0;
}

.socials img {
  width: 70%;
  padding: 0 10px;
}

.socials svg:hover {
  color: #f0db99;
  background-color: #f0db99;
}

.service-about-us {
  text-align: left;
    padding: 64px 20px 20px;
    font-size: 1.7em;
    font-family: 'DM Serif Text', serif;
}

.about-us {
  text-align: left;
    padding: 20px 20px 20px;
    font-size: 1.9em;
    font-family: 'DM Serif Text', serif;
}

.about-us p {
  text-align: left;
    font-size: 0.9em;
    font-family: 'DM Serif Text', serif;
    margin: 0;
}

.instagram {
  display: inline-block;
  width: 50px;
  height: 50px;
  background: transparent url("../images/socials/instagram.svg");
  background-size: 53px;
  margin: auto 10px;
}

.instagram:hover {
  background-position: 0 -50px;
}

.odysee {
  display: inline-block;
  width: 50px;
  height: 50px;
  background: transparent url("../images/socials/odysee.svg");
  background-size: 53px;
  margin: auto 10px;
}

.odysee:hover {
  background-position: 0 -50px;
}

.roi {
  font-family: 'DM Serif Text', serif;
}

.send-msg-area {
  resize: none;
}

.brokenlink {
  padding: 10rem 2rem 0;
}

.sme-img {
  width: 50%;
}

.price-text {
  font-size: 30px;
  margin: 0;
  color: black;
}

.getintouch h3 {
  font-family: 'Rubik', sans-serif;
  text-decoration: none;
  margin: 0;
}

.contactquotetitle {
  color: #e9982d;

}

.contactquote {
  color: white;
}

.referrals-bg {
background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
background-size: 400% 400%;
animation: bg-change 15s ease infinite;
padding: 10px;
margin-bottom: 30px;
border-radius: 8px;
}

@keyframes bg-change {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.referrals {
  max-height: 200px;
  width: 100%;
  padding: 10px 0px;
  font-size: 2rem;
  font-weight: 800;
  color: #ffffff;
  font-family: 'Rubik', serif;
}

.referrals-text {
  text-align: center;
  font-family: 'Rubik', sans-serif;
  font-weight: 600;
  font-size: 13px;
}

.referrals p {
  text-align: center;
}

.slight-push {
  padding: 5px;
}

.about-us-content h2{
  font-family: 'Rubik', serif;
  font-size: 3em;
  padding: 20px 20px 0px;
  margin: 0;
  text-align: left;
  color: rgb(0, 0, 0);


}

.about-us-content {

  background-color:#ffe8bf;
  border-radius: 10px;
  margin: 20px 20px;
}

/*BEGINING OF QUOTE SLIDER */

.h1 {
  font-size: 60px;
  text-align: center;
}

.content-slider {
  width: 100%;
  height: 300px;
}


.slider {
  height: 320px;
  width: 280px;
  margin: 25px auto 0;
  overflow: visible;
  position: relative;
}

.mask {
  overflow: hidden;
  height:260px;
}

.slider ul {
  margin: 0;
  padding: 0;
  position: relative;
}

.slider li {
  width: 280px;
  height: 250px;
  position: absolute;
  top: -325px;
  list-style: none;
  text-align: center;
  padding-top: 2rem;
}

.slider .quotes {
  font-size: 30px;
  font-style:;
  font-family: 'DM Serif Text', serif;
}

.slider .source {
  font-size: 20px;
  text-align: center;
  font-style: italic;
  font-family: 'DM Serif Text', serif;
}

.slider li.anim1 {
  animation: cycle 27s linear infinite;
}

.slider li.anim2 {
  animation: cycle2 27s linear infinite;
}

.slider li.anim3 {
  animation: cycle3 27s linear infinite;
}

.slider li.anim4 {
  animation: cycle4 27s linear infinite;
}

.slider li.anim5 {
  animation: cycle5 27s linear infinite;
}

.slider:hover li {
  animation-play-state: paused;
}

@keyframes cycle {
  0% {
    top: 0px;
  }
  4% {
    top: 0px;
  }
  16% {
    top: 0px;
    opacity: 1;
    z-index: 0;
  }
  20% {
    top: 200px;
    opacity: 0;
    z-index: 0;
  }
  21% {
    top: -325px;
    opacity: 0;
    z-index: -1;
  }
  50% {
    top: -325px;
    opacity: 0;
    z-index: -1;
  }
  92% {
    top: -325px;
    opacity: 0;
    z-index: 0;
  }
  96% {
    top: -325px;
    opacity: 0;
  }
  100% {
    top: 0px;
    opacity: 1;
  }
}

@keyframes cycle2 {
  0% {
    top: -325px;
    opacity: 0;
  }
  16% {
    top: -325px;
    opacity: 0;
  }
  20% {
    top: 0px;
    opacity: 1;
  }
  24% {
    top: 0px;
    opacity: 1;
  }
  36% {
    top: 0px;
    opacity: 1;
    z-index: 0;
  }
  40% {
    top: 200px;
    opacity: 0;
    z-index: 0;
  }
  41% {
    top: -325px;
    opacity: 0;
    z-index: -1;
  }
  100% {
    top: -325px;
    opacity: 0;
    z-index: -1;
  }
}

@keyframes cycle3 {
  0% {
    top: -325px;
    opacity: 0;
  }
  36% {
    top: -325px;
    opacity: 0;
  }
  40% {
    top: 0px;
    opacity: 1;
  }
  44% {
    top: 0px;
    opacity: 1;
  }
  56% {
    top: 0px;
    opacity: 1;
    z-index: 0;
  }
  60% {
    top: 200px;
    opacity: 0;
    z-index: 0;
  }
  61% {
    top: -325px;
    opacity: 0;
    z-index: -1;
  }
  100% {
    top: -325px;
    opacity: 0;
    z-index: -1;
  }
}

@keyframes cycle4 {
  0% {
    top: -325px;
    opacity: 0;
  }
  56% {
    top: -325px;
    opacity: 0;
  }
  60% {
    top: 0px;
    opacity: 1;
  }
  64% {
    top: 0px;
    opacity: 1;
  }
  76% {
    top: 0px;
    opacity: 1;
    z-index: 0;
  }
  80% {
    top: 200px;
    opacity: 0;
    z-index: 0;
  }
  81% {
    top: -325px;
    opacity: 0;
    z-index: -1;
  }
  100% {
    top: -325px;
    opacity: 0;
    z-index: -1;
  }
}

@keyframes cycle5 {
  0% {
    top: -325px;
    opacity: 0;
  }
  76% {
    top: -325px;
    opacity: 0;
  }
  80% {
    top: 0px;
    opacity: 1;
  }
  84% {
    top: 0px;
    opacity: 1;
  }
  96% {
    top: 0px;
    opacity: 1;
    z-index: 0;
  }
  100% {
    top: 200px;
    opacity: 0;
    z-index: 0;
  }
}

.footer {

  background: #000109;
  padding: 5px;
}

.footer p {
    
 
}

.priv p{
  font-size: 1em;
  transition: all .2s ease-out;
text-align: left;
}

.priv a{
  text-decoration: none;
  color: white;
  padding-left: 10px;
  
}

.priv a:hover{
  
  color: rgb(224, 71, 71);
 
}




.trademarkfooter {
  color: orange;
  margin: 0;
  text-decoration: none;
  font-size: 1.2em;
  padding: 5px 10px;
  text-align: left;
}

.quote-color{
  color: orange;
}

.privacypolicytext  {
  background-color: #ffe195;
  padding: 120px 20px;
}

.termsofservicetext {
  background-color: #ffe195;
  padding: 120px 20px;
}

.withlove {
  color: #4d4d4d;
  padding-left: 10px;
  font-size: .8em;
  font-weight: 300;
  transition: all .2s ease-out;
  text-align: left;
  width: 280px;
}

.withlove:hover {
  color: #c5c5c5;

 
}


/*ENDING OF SLIDER */



/*test of blob*/
.gooey{
  background-image: linear-gradient(120deg, #ffe400 0%, #f4cb94 100%);
  border-radius: 42% 58% 70% 30% / 45% 45% 55% 55%;
  width: 150px;
  height: 144px;
  animation: morph 3s linear infinite;
  transform-style: preserve-3d;
  outline: 1px solid transparent;
  will-change: border-radius;
  position: absolute;
  z-index: -1;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  min-height: 8em;
  width: 400px;
}
.gooey:before,
.gooey:after{
  content: '';
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  left: 0; top: 0;
  border-radius: 42% 58% 70% 30% / 45% 45% 55% 55%;
  box-shadow: 5px 5px 89px rgb(232 99 6 / 84%);
  will-change: border-radius, transform, opacity;
  animation-delay: 200ms;
  background-image: linear-gradient(120deg, rgba(255,181,85) 0%, rgba(255,147,9,.89) 100%);
}

.gooey:before{
  animation: morph 3s linear infinite;
  opacity: .21;
  animation-duration: 1.5s;
}

.gooey:after{
  animation: morph 3s linear infinite;
  animation-delay: 400ms;
  opacity: .89;
  content: "";
  line-height: 120px;
  text-indent: -21px;
}


@keyframes morph{
  0%,100%{
  border-radius: 42% 58% 70% 30% / 45% 45% 55% 55%;
    transform: translate3d(0,0,0) rotateZ(0.01deg);
  }
  34%{
      border-radius: 70% 30% 46% 54% / 30% 29% 71% 70%;
    transform:  translate3d(0,5px,0) rotateZ(0.01deg);
  }
  50%{
    opacity: .89;
    transform: translate3d(0,0,0) rotateZ(0.01deg);
  }
  67%{
    border-radius: 100% 60% 60% 100% / 100% 100% 60% 60% ;
    transform: translate3d(0,-3px,0) rotateZ(0.01deg);
  }
}

@keyframes fadeIn{
  100%{
    transform: scale(1.03);
    opacity: 0;
  }
}
