@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

body {
  margin: 0;
}

*, *::before, *::after {
  box-sizing: inherit;
}

h1, h2, h3, h4, {
  font-family: 'DM Serif Text', serif;
}

.logo-img {
  width: 110px;
  cursor: pointer;
}

.service-img {
  width: 65px;
  color: yellow;
  text-align: center;
}

.header {
/*  background-color: ;
  box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);*/
  position: absolute;
  width: 100%;
  z-index: 100;
  height: 100px;
}
/*
header.black {
  background-color: black;
  box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
}
*/


header.logo, header.logo {
  width: 76px;

}

.header ul {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 100px;
  right: 25px;
  list-style: none;
  overflow: hidden;
  border-radius: 5px;
  background-color: #000000e6;
}

.header a {
  font-family: 'DM Serif Text', serif;
}

.header li a {
  display: block;
  text-align: center;
  padding: 20px 20px;
  color: white;
  /*border: 1px solid #e9982d;*/
  text-decoration: none;
  transition: all .2s ease-out;
}

.header li a:hover,
.header .menu-btn:hover {
  color: black;
  background-color: #e9982d;
  text-decoration: underline;
}

.header .logo {
  display: block;
  float: left;
  font-size: 2em;
  margin: 20px;
  margin-left: 60px;
  text-decoration: none;
}

.logo-img {
  width: 110px;
  cursor: pointer;
}

/* menu */

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
  position: fixed;
}
/* menu icon */

.header .menu-icon {
  cursor: pointer;
  float: right;
  padding: 12px 22px;
  position: relative;
  user-select: none;
  margin-right: 48px;
  margin-top: 50px
}

.header .menu-icon .nav-icon {
  background: #080808;
  display: block;
  height: 3px;
  position: fixed;
  transition: background .2s ease-out;
  width: 30px;
  right: 55px;
}

.header .menu-icon .nav-icon:hover {
  background: #adadad;
}
.header .menu-icon .nav-icon:before,
.header .menu-icon .nav-icon:after {
  background: #e9982d;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .4s ease-out;
  width: 100%;
}

.header .menu-icon .nav-icon:before {
  top: 5px;
}

.header .menu-icon .nav-icon:after {
  top: -5px;
}

/* menu btn */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 240px;
}

.header .menu-btn:checked ~ .menu-icon .nav-icon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .nav-icon:before {
  transform: rotate(-45deg);
  top:0;
}

.header .menu-btn:checked ~ .menu-icon .nav-icon:after {
  transform: rotate(45deg);
  top:0;
}

.showcase {
  position: relative;
}

.showcase video {
  display: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  opacity: 0.8;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: black;
  opacity: .7;
  z-index: 3;
  mix-blend-mode: overlay;
}

.hero-text {
  position: absolute;
  color: white;
  z-index: 5;
  top: 340px;
  width: 100%;
  margin: 0 auto;
  text-align: center;

}

.hero-text h2 {
  font-size: 3em;
  font-family: 'Rubik', serif;
  font-weight: 800;
  line-height: 1em;
  margin: 0;
  text-transform: uppercase;
  text-shadow: 2px 2px black;
}

.hero-text h3 {
  font-size: 1em;
  font-family: 'Rubik', serif;
  font-weight: 600;
  line-height: 1em;
  margin: 0;
  text-transform: uppercase;
}

.hero-text p {
  font-family: 'Rubik', sans-serif;
  font-size: 1em;
  line-height: 1em;
  color: orange;
}

.hero-text a {
  display: inline-block;
  font-family: 'DM Serif Text', serif;
  font-size: 1.2em;
  color: black;
  background: white;
  padding: 10px 25px;
  text-decoration: none;
  transition: all .2s ease-out;
  border-radius: 5px;
}

.hero-text a:hover {
  background: orange;
  color: white;
}

/* SERVICES SECTION BEGINS*/

.service-icon {
  padding: 5px;
  margin: 0;
  text-align: center;
  list-style-type: none;
  z-index: 10;

}


.reel-stats {
  font-size: 1.2rem;
  font-family: 'Rubik', serif;
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: space-around;
  text-decoration: none;
  margin-top: 1.5rem;
  padding-left: 0;

}

.reel-pos {
  list-style: none;
  text-decoration: none;
  padding-left: 0;
}

.services-box {

  justify-content: space-evenly;
  list-style: none;
  text-decoration: none;
  padding-left: 0;
}

.service-cap {
  color: black;
  text-align: center;
  font-family: 'Rubik', serif;
  font-weight: 800;
  margin: 8px 0px;
}

.service-box {
  text-align: center;
  padding:20px;
  margin: 15px 15px;
  opacity: 0.8;
}


.service-text{
  text-align: center;
  margin: 0 auto;
  font-family: 'Rubik', sans-serif;

}

.services h2{
  font-family: 'Rubik', serif;
  font-size: 2em;
  margin-top: 20px;
  margin-right: 50px;
  text-align: right;
  text-decoration: underline;
}

.services-section h2 {
  font-family: 'Rubik', serif;
  font-size: 2em;
  margin-top: 20px;
  margin-left: 50px;
  left: 1000px;
  text-align: right;
  letter-spacing: 0;
  text-decoration: underline;
}

.portfolio h2{
  font-family: 'Rubik', serif;
  font-size: 2em;
  margin-top: 20px;
  margin-right: 50px;
  text-align: right;
  text-decoration: underline;
}

.getintouch h2 {
  font-family: 'Rubik', serif;
  font-size: 2em;
  margin-top: 20px;
  margin-left: 50px;
  text-align: left;
  text-decoration: underline;
}
.services ul {
  list-style-type: none;
  padding-left: 0;
}

/* SERVICES SECTION ENDS*/

/* About Us begins */

.about {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 600;
  font-family: 'DM Serif Text', serif;
  background-color: ;
  padding: 3em 0;
  overflow: hidden;
  position: relative;
}

.port-video {

}




/* Beginning of form */

#contact {
  padding: 50px 15px;
  text-align: center;
}

#contact-form {
  max-width: 330px;
  margin: 0 auto;
}

#contact-form input, #contact-form textarea {

  display: block;
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  border: none;
  margin-bottom: 10px;
  background: #f0db99;
  color: #000109;
  transition: .5 ease all;
}


#contact-form button {
  background: #000109;
  padding: 10px 25px;
  border-radius: 5px;
  color: white;
  letter-spacing: 1px;
  font-family: 'Rubik', serif;
  transition: all .2s ease-out;
}

#contact-form button:hover {
  background: orange;
  color: #000109;

}

button, html input[type="button"], input[type="reset"], input[type="submit"] {

  -webkit-appearance: button;
  cursor: pointer;
}
/* End of Form */



.quote, .quote p {
  text-align: center;
  font-size: 2.5rem;
  margin: 6px 0px 6px 0px;
  text-decoration: underline;
  font-family: 'DM Serif Text', serif;
}

.srv-btn{
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 4rem;


}

.srvs-btn{

  font-family: 'Rubik', serif;
  background: #000109;
  color: white;
  text-decoration: none;
  padding: 10px 25px;
  border-radius: 5px;
  transition: all .2s ease-out;
  letter-spacing: 1px;
}

.srv-btn a:hover {
  background: orange;
  color: #000109;
}

.video-tag {
  text-align: center;
  text-decoration: none;

}

.video-bg {
  background-color: #fff;
}


.wrapper {
  max-width: 850px;

}

.embed {
  overflow: hidden;
  width: 100%;
  position: relative;
}

.embed-item {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.embed-16by9 {
  padding-top: 56.25%;
}



.reel-vid{
  padding: 0 2em;
}

.reel-para {
  text-align: left;
  font-size: 1.2rem;
  font-family: 'Rubik', sans-serif;
}

.links-piece {
  display: block;
  cursor: pointer;
  text-decoration: none;
}

.case-study {
  position: relative;
}


.case-study .masthead {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  border-style: solid;
  border-width: 1px;
  border-color: #fff;
  text-align: center;
  padding: 1em;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  opacity: 1;
  -webkit-transition: all 250ms linear;
  transition: all 500ms linear;
}

.case-study:hover .masthead {
  background-color: rgba(0, 0, 0, 0.45);
  opacity: 1;
}

.masthead hr {
  border: 0;
  border-top: 1px solid #fff;
  width: 0em;
  margin: 0;
  padding-top: 10px;
  -webkit-transition: all 500ms linear;
  transition: all 400ms linear;
}

.masthead-uni-header {
  padding: 1em;
  background-color: #000;
  background: url("../images/portfolio-piece-header-image.jpg");
  background-size: cover;
  height: 12em;
}

.case-study:hover .masthead hr {
  width: 10rem;
  border-color: #e8982c;
  -webkit-transition: all 500ms linear;
  transition: all 400ms linear;
}

.masthead h2, .masthead p {
  max-width: 20em;
  margin: .2rem 0;
}

.masthead2 h2, .masthead2 p {
  max-width: 20em;
  margin:0;
}

.piece-title {
  font-size: 3.5rem;
  font-weight: 800;
  font-family: 'Rubik', sans-serif;
  color: #fff;
  margin:10px;
}

.piece-title2 {
  font-size: 3.5rem;
  font-weight: 800;
  font-family: 'Rubik', sans-serif;
  color: #fff;
  margin:10px;
  text-align: center;
  padding-top: 80px;
}

.piece-text {
  font-size: 1rem;
  font-weight: 300;
  font-family: 'Rubik', serif;
  color: #fff;
  margin:10px;

}


.portfolio-studies-1 {
  color: #d6d5d4;
  background-color: $yellow;
  background-image: url("../images/agitated/agitated-small.jpg");
  height: 293px;
  background-position: center center;
  background-size: 45vw auto;
  background-repeat: no-repeat;
}

.portfolio-1-bg {
  background-color: #ffffff;
}

.portfolio-studies-2 {
  color: #d6d5d4;
  background-image: url("../images/excessive/excessive-small.jpg");
  background-color: $black;
  height: 293px;
  background-position: 40% 52%;
  background-size: 30vw auto;
  background-repeat: no-repeat;
  border-collapse: #000;
}

.portfolio-2-bg {
  background-color: #000;
}

.portfolio-studies-3 {
  color: #d6d5d4;
  background-image: url("../images/redsquare/redsquare-small.jpg");
  background-color: $black;
  height: 293px;
  background-position: 40% 52%;
  background-size: 135vw auto;
  background-repeat: no-repeat;
  border-collapse: #000;
}

.piece-text3 {
  margin: 1rem 0
}


.portfolio-studies-4 {
  color: #d6d5d4;
  background-color: $yellow;
  background-image: url("../images/eclectic/eclectic.jpg");
  height: 293px;
  background-position: center center;
  background-size: 120vw auto;
  background-repeat: no-repeat;
}

.portfolio-studies-5 {
  color: #d6d5d4;
  background-color: $yellow;
  background-image: url("../images/farago/farago-small.jpg");
  height: 293px;
  background-position: center center;
  background-size: 135vw auto;
  background-repeat: no-repeat;
}

.portfolio-studies-6 {
  color: #d6d5d4;
  background-color: $yellow;
  background-image: url("../images/red/red-small.jpg");
  height: 293px;
  background-position: center center;
  background-size: 120vw auto;
  background-repeat: no-repeat;
}

.portfolio-studies-7 {
  color: #d6d5d4;
  background-color: $yellow;
  background-image: url("../images/goodiebag/goodiebag-small.jpg");
  height: 293px;
  background-position: center center;
  background-size: 100vw auto;
  background-repeat: no-repeat;
}

.portfolio-studies-8 {
  color:;
  background-color: #000;
  background-image: url();
  height: 293px;
  background-position: center center;
  background-size: 120vw auto;
  background-repeat: no-repeat;
}

.masthead-uni-header {
  padding: 1em;
  background-color: #000;
  background: url("../images/portfolio-piece-header-image.jpg");
  background-size: cover;
  height: 12em;
}

.headcent{
  text-align: center;
  padding-top: 13rem;
}

.img-flex {
  display: block;
  width: 100%;
}

.piece-text-in {
  margin: 2rem 2rem;
 }

.port-piece-title {
  font-size: 2.7rem;
  font-family: 'Rubik', sans-serif;
  margin: 0;
}

.about p {
  margin:0;
}

.gray {
  color: #fff;
}

.black {
  color: #000;
}

.para-contact {
  text-align: center;
  padding: 0 2em;
  font-size: 1.2rem;
  font-family: 'Rubik', sans-serif;
}


.services-section {
;
}

.desc-text p {
  margin:4px;
}

.reel-text {
  text-align: left;
  font-size: 1.2rem;
  font-family: 'Rubik', sans-serif;
}

.socials {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  justify-content: center;
  padding: 0;

}
.socials img {
  width: 70%;
  padding: 0 10px;
}

.socials svg:hover {
  color: #f0db99;
  background-color: #f0db99;
}

.twitter {
  display: inline-block;
  width: 50px;
  height: 50px;
  background: transparent url("../images/socials/twitter.svg");
  background-size: 53px;
  margin: auto 10px;
  transition: all 20ms ease-out;
}

.twitter:hover {
  background-position: 0 -50px;
}

.instagram {
  display: inline-block;
  width: 50px;
  height: 50px;
  background: transparent url("../images/socials/instagram.svg");
  background-size: 53px;
  margin: auto 10px;
  transition:
}

.instagram:hover {
  background-position: 0 -50px;
}

.odysee {
  display: inline-block;
  width: 50px;
  height: 50px;
  background: transparent url("../images/socials/odysee.svg");
  background-size: 53px;
  margin: auto 10px;
  transition:
}

.odysee:hover {
  background-position: 0 -50px;
}


.roi {
  font-family: 'DM Serif Text', serif;
}

/* 48em = 768px @ 16pt font */

/*BEGINING OF QUOTE SLIDER */

html,
body {
  font-family: 'Rubik', sans-serif;
}

h1 {
  font-size: 60px;
  text-align: center;
}

.content-slider {
  width: 100%;
  height: 300px;
}




.slider {
  height: 320px;
  width: 280px;
  margin: 25px auto 0;
  overflow: visible;
  position: relative;
}

.mask {
  overflow: hidden;
  height: 320px;
}

.slider ul {
  margin: 0;
  padding: 0;
  position: relative;
}

.slider li {
  width: 280px;
  height: 250px;
  position: absolute;
  top: -325px;
  list-style: none;
  text-align: center;
  padding-top: 2rem;
}

.slider .quotes {
  font-size: 30px;
  font-style:;
  font-family: 'DM Serif Text', serif;
}

.slider .source {
  font-size: 20px;
  text-align: center;
  font-style: italic;
  font-family: 'DM Serif Text', serif;
}

.slider li.anim1 {
  animation: cycle 27s linear infinite;
}

.slider li.anim2 {
  animation: cycle2 27s linear infinite;
}

.slider li.anim3 {
  animation: cycle3 27s linear infinite;
}

.slider li.anim4 {
  animation: cycle4 27s linear infinite;
}

.slider li.anim5 {
  animation: cycle5 27s linear infinite;
}

.slider:hover li {
  animation-play-state: paused;
}

@keyframes cycle {
  0% {
    top: 0px;
  }
  4% {
    top: 0px;
  }
  16% {
    top: 0px;
    opacity: 1;
    z-index: 0;
  }
  20% {
    top: 200px;
    opacity: 0;
    z-index: 0;
  }
  21% {
    top: -325px;
    opacity: 0;
    z-index: -1;
  }
  50% {
    top: -325px;
    opacity: 0;
    z-index: -1;
  }
  92% {
    top: -325px;
    opacity: 0;
    z-index: 0;
  }
  96% {
    top: -325px;
    opacity: 0;
  }
  100% {
    top: 0px;
    opacity: 1;
  }
}

@keyframes cycle2 {
  0% {
    top: -325px;
    opacity: 0;
  }
  16% {
    top: -325px;
    opacity: 0;
  }
  20% {
    top: 0px;
    opacity: 1;
  }
  24% {
    top: 0px;
    opacity: 1;
  }
  36% {
    top: 0px;
    opacity: 1;
    z-index: 0;
  }
  40% {
    top: 200px;
    opacity: 0;
    z-index: 0;
  }
  41% {
    top: -325px;
    opacity: 0;
    z-index: -1;
  }
  100% {
    top: -325px;
    opacity: 0;
    z-index: -1;
  }
}

@keyframes cycle3 {
  0% {
    top: -325px;
    opacity: 0;
  }
  36% {
    top: -325px;
    opacity: 0;
  }
  40% {
    top: 0px;
    opacity: 1;
  }
  44% {
    top: 0px;
    opacity: 1;
  }
  56% {
    top: 0px;
    opacity: 1;
    z-index: 0;
  }
  60% {
    top: 200px;
    opacity: 0;
    z-index: 0;
  }
  61% {
    top: -325px;
    opacity: 0;
    z-index: -1;
  }
  100% {
    top: -325px;
    opacity: 0;
    z-index: -1;
  }
}

@keyframes cycle4 {
  0% {
    top: -325px;
    opacity: 0;
  }
  56% {
    top: -325px;
    opacity: 0;
  }
  60% {
    top: 0px;
    opacity: 1;
  }
  64% {
    top: 0px;
    opacity: 1;
  }
  76% {
    top: 0px;
    opacity: 1;
    z-index: 0;
  }
  80% {
    top: 200px;
    opacity: 0;
    z-index: 0;
  }
  81% {
    top: -325px;
    opacity: 0;
    z-index: -1;
  }
  100% {
    top: -325px;
    opacity: 0;
    z-index: -1;
  }
}

@keyframes cycle5 {
  0% {
    top: -325px;
    opacity: 0;
  }
  76% {
    top: -325px;
    opacity: 0;
  }
  80% {
    top: 0px;
    opacity: 1;
  }
  84% {
    top: 0px;
    opacity: 1;
  }
  96% {
    top: 0px;
    opacity: 1;
    z-index: 0;
  }
  100% {
    top: 200px;
    opacity: 0;
    z-index: 0;
  }
}

.footer {
  color: orange;
  background: #000109;
  padding: 5px;
}

.footer p{
  margin: 0;
}

.quote-color{
  color: orange;
}


/*ENDING OF SLIDER */



/*test of blob*/
.gooey{
  background-image: linear-gradient(120deg, #ffe400 0%, #f4cb94 100%);
  border-radius: 42% 58% 70% 30% / 45% 45% 55% 55%;
  width: 150px;
  height: 144px;
  animation: morph 3s linear infinite;
  transform-style: preserve-3d;
  outline: 1px solid transparent;
  will-change: border-radius;
  position: absolute;
  z-index: -1;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  min-height: 8em;
  width: 400px;
}
.gooey:before,
.gooey:after{
  content: '';
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  left: 0; top: 0;
  border-radius: 42% 58% 70% 30% / 45% 45% 55% 55%;
  box-shadow: 5px 5px 89px rgba(221,195,12,0.84);
  will-change: border-radius, transform, opacity;
  animation-delay: 200ms;
  background-image: linear-gradient(120deg, rgba(255,181,85) 0%, rgba(255,147,9,.89) 100%);
}

.gooey:before{
  animation: morph 3s linear infinite;
  opacity: .21;
  animation-duration: 1.5s;
}

.gooey:after{
  animation: morph 3s linear infinite;
  animation-delay: 400ms;
  opacity: .89;
  content: "";
  line-height: 120px;
  text-indent: -21px;
}

@keyframes morph{
  0%,100%{
  border-radius: 42% 58% 70% 30% / 45% 45% 55% 55%;
    transform: translate3d(0,0,0) rotateZ(0.01deg);
  }
  34%{
      border-radius: 70% 30% 46% 54% / 30% 29% 71% 70%;
    transform:  translate3d(0,5px,0) rotateZ(0.01deg);
  }
  50%{
    opacity: .89;
    transform: translate3d(0,0,0) rotateZ(0.01deg);
  }
  67%{
    border-radius: 100% 60% 60% 100% / 100% 100% 60% 60% ;
    transform: translate3d(0,-3px,0) rotateZ(0.01deg);
  }
}

@keyframes fadeIn{
  100%{
    transform: scale(1.03);
    opacity: 0;
  }


}







  /*BEGINNING OF MEDIA QUERIES*/



  /*BEGINNING OF MEDIA QUERIES*/



  /*BEGINNING OF MEDIA QUERIES*/





@media only screen and (min-width: 10em) {

  .portfolio-studies-1 {
    background-size: 105vw auto;
    background-position: 85% auto;
  }

  .portfolio-studies-2 {
    background-size: 120vw auto;
    background-position: 40% center;

  }

  .portfolio-studies-7 {
    background-position: center center;
    background-size: 100vw auto;

  }

}



@media only screen and (min-width: 25em) {

.frameborder {

    frameborder: 0;
  }

  .portfolio-studies-1 {
  background-size:90vw auto;
  background-position: 85% auto;
}

.portfolio-studies-2 {
  background-size: 100vw auto;
  background-position: 40% center;
  }

  .portfolio-studies-3 {
    background-size: 135vw auto;
    background-position: 40% 52%;
  }


}

@media only screen and (min-width: 38em) {


  .video-tag {
    margin: 0;
    text-align: center;
    text-decoration: none;
  }

.reel-title {
    margin: 0;

  }

  .portfolio-studies-1 {
  background-size: 50vw auto;
  background-position: 40%;
}

.portfolio-studies-2 {
  background-size: 65vw auto;
  background-position: 40% center;
}

.portfolio-studies-3 {
  background-size: 90vw auto;
  background-position: 40% 52%;
}
.portfolio-studies-4 {
  background-position: center center;
  background-size: 95vw auto;
}

.portfolio-studies-5 {

  background-position: center center;
  background-size: 100vw auto;
}

.portfolio-studies-6 {
  background-position: center center;
  background-size: 120vw auto;

}

.portfolio-studies-7 {
  background-position: center center;
  background-size: 55vw auto;

}
.about {
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
  font-family: 'DM Serif Text', serif;
  background-color: ;
  padding: 3em 0;
}


}



@media (min-width: 48em) {
  .header li {
    float: left;
  }
  .header li a {
    padding: 20px 30px;
  }

  .header ul {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 50px;
    right: 50px;
    list-style: none;
    overflow: hidden;
    border-radius: 5px;
    background-color: #000109;
  }

  .header .menu {
    clear: none;
    float: right;
    max-height: none;
    position: fixed;
  }
  .header .menu-icon {
    display: none;
  }

  .hero-text h2 {
    font-size: 5em;
  }

  .hero-text {
    top: 200px;
    text-align: left;
    padding-left: 10em;

  }

  .service-section {
    margin:;

  }

  .service-text {
    font-size: 1rem;
  }

  #contact-form {
    max-width: 550px;
    margin: 0 auto;
  }

  .content-slider {
    width: 100%;
    height: 300px;
  }

  .slider {
    height: 320px;
    width: 680px;
    margin: 40px auto 0;
    overflow: visible;
    position: relative;
  }

  .mask {
    overflow: hidden;
    height: 320px;
  }

  .slider ul {
    margin: 0;
    padding: 0;
    position: relative;
  }

  .slider li {
    width: 680px;
    height: 250px;
    position: absolute;
    top: -325px;
    list-style: none;
  }

  .slider .quotes {
    font-size: 50px;
    font-style:;
  }

  .slider .source {
    font-size: 20px;
    text-align: center;
  }

  .footer {
  text-align: center;
  }

  @keyframes cycle {
    0% {
      top: 0px;
    }
    4% {
      top: 0px;
    }
    16% {
      top: 0px;
      opacity: 1;
      z-index: 0;
    }
    20% {
      top:200px;
      opacity: 0;
      z-index: 0;
    }
    21% {
      top: -290px;
      opacity: 0;
      z-index: -1;
    }
    50% {
      top: -290px;
      opacity: 0;
      z-index: -1;
    }
    92% {
      top: -290px;
      opacity: 0;
      z-index: 0;
    }
    96% {
      top: -290px;
      opacity: 0;
    }
    100% {
      top: 0px;
      opacity: 1;
    }
  }

  @keyframes cycle2 {
    0% {
      top: -290px;
      opacity: 0;
    }
    16% {
      top: -290px;
      opacity: 0;
    }
    20% {
      top: 0px;
      opacity: 1;
    }
    24% {
      top: 0px;
      opacity: 1;
    }
    36% {
      top: 0px;
      opacity: 1;
      z-index: 0;
    }
    40% {
      top: 200px;
      opacity: 0;
      z-index: 0;
    }
    41% {
      top: -290px;
      opacity: 0;
      z-index: -1;
    }
    100% {
      top: -290px;
      opacity: 0;
      z-index: -1;
    }
  }

  @keyframes cycle3 {
    0% {
      top: -290px;
      opacity: 0;
    }
    36% {
      top: -290px;
      opacity: 0;
    }
    40% {
      top: 0px;
      opacity: 1;
    }
    44% {
      top: 0px;
      opacity: 1;
    }
    56% {
      top: 0px;
      opacity: 1;
      z-index: 0;
    }
    60% {
      top: 200px;
      opacity: 0;
      z-index: 0;
    }
    61% {
      top: -290px;
      opacity: 0;
      z-index: -1;
    }
    100% {
      top: -290px;
      opacity: 0;
      z-index: -1;
    }
  }

  @keyframes cycle4 {
    0% {
      top: -290px;
      opacity: 0;
    }
    56% {
      top: -290px;
      opacity: 0;
    }
    60% {
      top: 0px;
      opacity: 1;
    }
    64% {
      top: 0px;
      opacity: 1;
    }
    76% {
      top: 0px;
      opacity: 1;
      z-index: 0;
    }
    80% {
      top: 200px;
      opacity: 0;
      z-index: 0;
    }
    81% {
      top: -290px;
      opacity: 0;
      z-index: -1;
    }
    100% {
      top: -290px;
      opacity: 0;
      z-index: -1;
    }
  }

  @keyframes cycle5 {
    0% {
      top: -290px;
      opacity: 0;
    }
    76% {
      top: -290px;
      opacity: 0;
    }
    80% {
      top: 0px;
      opacity: 1;
    }
    84% {
      top: 0px;
      opacity: 1;
    }
    96% {
      top: 0px;
      opacity: 1;
      z-index: 0;
    }
    100% {
      top: 200px;
      opacity: 0;
      z-index: 0;
    }

}



@media (min-width: 52em) {


  .hero-text {
    top: 200px;
    text-align: left;
    padding-left: 10em;

  }

  .service-section {
    margin:;

  }

  .service-text {
    font-size: 1rem;
  }

  .quote, .quote p {
    text-align: right;
    font-size: 4rem;
    margin: 0px 30px 0px 0px;
    text-decoration: underline;
    font-family: 'DM Serif Text', serif;
  }

  .about {
    text-align: center;
    font-size: 3rem;
    font-family: 'DM Serif Text', serif;
    padding: 1.5em;
    margin: 0 auto;
  }

}
/*----- media query end ----*/



@media (min-width: 56em) {

  .hero-text {
    top:400px;
    text-align: center;
    padding: 0;
  }

  .hero-text h2 {
    font-size: 5em;
  }

  .service-section {
    margin:;

  }

  .service-text {
    font-size: 1rem;
  }

  .reel-stats {
    font-size: 1.5rem;
    font-family: 'Rubik', serif;
    list-style: none;
    justify-content: space-around;
    text-decoration: none;
  }





}

@media only screen and (min-width: 60em) {

  .reel-para {

    margin: 25px 0 0 20px;
    line-height: 1.5;
  }

  .case-study .masthead {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 1em;
    border-style: solid;
    border-width: 1px;
    border-color: #e8982c;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    opacity: 0;
    -webkit-transition: all 250ms linear;
    transition: all 500ms linear;
  }

  .case-study:hover .masthead {
    background-color: #00000075;
    opacity: 1;
  }


.portfolio-studies-1 {
  background-size: 35vw auto;
  background-position: 40%;
  height: 293px;
}

.portfolio-1-bg {
  background-color: #000;
}

.portfolio-studies-2 {
  background-image: url("../images/excessive/excessive.jpg");
  height: 293px;
  background-size: 80vw auto;
  background-position: 40% 52%;
}

.portfolio-2-bg {
  background-color: ##000;
}

.portfolio-studies-3 {
  background-image: url("../images/redsquare/redsquare.webp");
  background-size: 81vw auto;
  background-position: 40% 52%;
}

.portfolio-studies-4 {
  color: #d6d5d4;
  background-color: $yellow;
  background-image: url("../images/eclectic/eclectic.jpg");
  height: 293px;
  background-position: center center;
  background-size: 60vw auto;
  background-repeat: no-repeat;
}

.portfolio-studies-5 {

  background-position: center center;
  background-size: 65vw auto;
}

.portfolio-studies-6 {
  color: #d6d5d4;
  background-color: $yellow;
  background-image: url("../images/red/red.jpg");
  height: 293px;
  background-position: center center;
  background-size: 70vw auto;
  background-repeat: no-repeat;
}

.portfolio-studies-7 {
  color: #d6d5d4;
  background-color: $yellow;
  background-image: url("../images/goodiebag/goodiebag.jpg");
  height: 293px;
  background-position: center center;
  background-size: 100vw auto;
  background-repeat: no-repeat;
}


  .wrapper {
  max-width: 725px;
  margin: 2em auto;
}
.headcent{
  text-align: center;
  padding-top: 15rem;
}

.reel-text {

padding: 25px 0px 0px 20px;
margin: 0;
}

.reel-box {

}


}

@media (min-width: 65.5em) {

  .portfolio-studies-3 {
    background-image: url("../images/redsquare/redsquare.webp");
    background-size: 75vw auto;
    background-position: 40% 52%;
  }

}
