/*BEGINNING OF MEDIA QUERIES*/



/*BEGINNING OF MEDIA QUERIES*/



/*BEGINNING OF MEDIA QUERIES*/



/*SMALL SCREENS*/


@media only screen and (min-width: 10em) {

.portfolio-studies-1 {
  background-size: 105vw auto;
  background-position: 85% auto;
}

.portfolio-studies-2 {
  background-size: 120vw auto;
  background-position: 40% center;

}

.portfolio-studies-7 {
  background-position: center center;
  background-size: 100vw auto;

}

}

/* still small screen sef**/

@media only screen and (min-width: 25em) {

  


  .contact-form-box h2 {
    font-size: 1.5em;

  }
  
  .contact-form-box p {
    font-size: 1rem;

  }

  .contact-form-box2 h2 {
    font-size: 1.4em;

  }
  
  .contact-form-box2 p {
    font-size: 1.4em;

  }

.frameborder {

  border: 0px;
}

.portfolio-studies-1 {
background-size:100vw auto;
background-position: 85% auto;
}

.portfolio-studies-2 {
background-size: 100vw auto;
background-position: 40% center;
}

.portfolio-studies-3 {
  background-size: 135vw auto;
  background-position: 40% 52%;
}


}




@media only screen and (min-width: 38em) {

  


  .starter-package-t98 {
  margin: 3rem auto;
}

  .contact-form-box h2 {
    font-size: 1.9em;
    text-align: center;

  }
  
  .contact-form-box p {
    font-size: 1.4em;
    text-align: center;

  }

  .title-tag {
    width: 410px;

  }

  .title-tag p {
    width: 470px;
  }

  .hero-text {
    width: 470px;
  }

  .hero-text h2 {
    width: 465px;
  }

  .package-box {
    height:400px ;
  }


.video-tag {
  margin: 0;
  text-align: center;
  text-decoration: none;
}

.reel-title {
  margin: 15px 0px 0px 0px;

}

.portfolio-studies-1 {
background-size: 100vw auto;
background-position: 40%;
}

.portfolio-studies-2 {
background-size: 65vw auto;
background-position: 40% center;
}

.portfolio-studies-3 {
background-size: 90vw auto;
background-position: 40% 52%;
}
.portfolio-studies-4 {
background-position: center center;
background-size: 95vw auto;
}

.portfolio-studies-5 {

background-position: center center;
background-size: 100vw auto;
}

.portfolio-studies-6 {
background-position: center center;
background-size: 120vw auto;

}

.portfolio-studies-7 {
background-position: center center;
background-size: 55vw auto;

}

.portfolio-studies-9 {
background-position: top center;
background-size: 50vw auto;

}

.portfolio-studies-10 {
background-position: bottom center;
background-size: 50vw auto;

}



.about {
text-align: center;
font-size: 2rem;
font-weight: 600;
font-family: 'DM Serif Text', serif;
padding: 3em 0;
}

.packages-getting-started {
  color: #d6d5d4;
  background-color: yellow;
  background-image: url("../images/packages/sme-business.jpg");
  height: 600px;
  background-position: center center;
  background-size: 330vw auto;
  background-repeat: no-repeat;
}

.packages-upcoming {
  color: #d6d5d4;
  background-color: yellow;
  background-image: url("../images/packages/upandcoming.jpg");
  height: 600px;
  background-position: center center;
  background-size: 330vw auto;
  background-repeat: no-repeat;
}

.packages-editing {
  color: #d6d5d4;
  background-color: yellow;
  background-image: url("../images/packages/editing-package-small.jpg");
  height: 300px;
  background-position: center center;
  background-size: 330vw auto;
  background-repeat: no-repeat;
}

.mask-top {
  overflow: hidden;
  height: 102px;
}

.content-slider-top {
  height: 100px;
  top: 536px;
}

.slider-top {
  height: 137px;
  margin: 0px auto;
}


.package-box-bg2 {

  margin-top: 0;
}

.package-box-bg3 {
  margin-top: 0;
}

.package-box-bg4 {
  
  margin-top: 0;
}

.package-box-bg5 {                                          
  margin-top: 0;
}

.clients-items {
  text-align: center;
   margin: 0px auto;
  }
  
  .img-client {
    width: 40%;
    padding: 0;
  }

  

}

@media (max-width: 600px) {
            .carousel-item:nth-child(1) img {
                content: url('{{site.baseurl}}/images/portfolio/mobile-cr.webp');
            }
            .carousel-item:nth-child(2) img {
                content: url('{{site.baseurl}}/images/portfolio/mobile-gfs.webp');
            }
            .carousel-item:nth-child(3) img {
                content: url('{{site.baseurl}}/images/portfolio/mobile-bt.webp');
            }
            .carousel-item:nth-child(4) img {
              content: url('{{site.baseurl}}/images/portfolio/mobile-st.webp');
            }
            .carousel-item:nth-child(5) img {
              content: url('{{site.baseurl}}/images/portfolio/mobile-tlf.webp');
            }
            .carousel-item:nth-child(6) img {
              content: url('{{site.baseurl}}/images/portfolio/mobile-bv.webp');
            }
            .carousel-item:nth-child(7) img {
              content: url('{{site.baseurl}}/images/portfolio/mobile-skin.webp');
            }
            .carousel-item:nth-child(8) img {
              content: url('{{site.baseurl}}/images/portfolio/mobile-cgm.webp');
            }
            /* Add more as needed */
        }


@media only screen and (min-width: 48em) {

  .reel-title {
  margin: 0;
  padding: 20px 20px 0px;
  color: #e9982d;
}

.reel-text {
  padding: 10px 20px 0px;
}

.reel-titleport {
  padding: 20px 20px 0px;
}

.reel-textport {

  padding: 10px 20px 10px;
}

  .service-about-us {
    padding: 30px 30px 20px;

}


    .case-card-container {
      max-width: 800px;
      margin: 0rem auto;
      border-radius: 8px;
      box-shadow: 0 10px 24px rgba(0, 0, 0, 0.08);
    }
    
    .case-card-inner {
        flex-direction: row;
        align-items: center;
        padding: 0;
      }

      .case-card-image {
        flex: 1;
        order: 2;
        padding: 1rem;
      }

      .case-card-content {
        flex: 1;
        order: 1;
        padding: 1rem;
      }

#contact-side {
    display: flex;
    justify-content: space-around;
}

.package-para {
margin-top: 40px;
}

.header li {
  float: left;
  font-size: 13px;
  letter-spacing: .9px;
}
.header li a {
  padding: 20px 30px;
}

.header ul {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 50px;
  right: 50px;
  list-style: none;
  overflow: hidden;
  border-radius: 5px;
  background-color: #000109;
}

.header .menu {
  clear: none;
  float: right;
  max-height: none;
  position: fixed;
}
.header .menu-icon {
  display: none;
}

.hero-text h2 {

}

.hero-text {
  width: 475px;


}

.hero-btn {
  padding-left: 30px;
}

.service-section {

}

.service-text {
  font-size: 1.2rem;
}



.content-slider {
  width: 100%;
  height: 300px;
}

.slider {
  height: 320px;
  width: 680px;
  margin: 40px auto 0;
  overflow: visible;
  position: relative;
}

.mask {
  overflow: hidden;
  height: 320px;
}

.slider ul {
  margin: 0;
  padding: 0;
  position: relative;
}

.slider li {
  width: 680px;
  height: 250px;
  position: absolute;
  top: -325px;
  list-style: none;
}

.slider .quotes {
  font-size: 40px;
}

.slider .source {
  font-size: 20px;
  text-align: center;
}

.footer {
text-align: center;
}

@keyframes cycle {
  0% {
    top: 0px;
  }
  4% {
    top: 0px;
  }
  16% {
    top: 0px;
    opacity: 1;
    z-index: 0;
  }
  20% {
    top:200px;
    opacity: 0;
    z-index: 0;
  }
  21% {
    top: -290px;
    opacity: 0;
    z-index: -1;
  }
  50% {
    top: -290px;
    opacity: 0;
    z-index: -1;
  }
  92% {
    top: -290px;
    opacity: 0;
    z-index: 0;
  }
  96% {
    top: -290px;
    opacity: 0;
  }
  100% {
    top: 0px;
    opacity: 1;
  }
}

@keyframes cycle2 {
  0% {
    top: -290px;
    opacity: 0;
  }
  16% {
    top: -290px;
    opacity: 0;
  }
  20% {
    top: 0px;
    opacity: 1;
  }
  24% {
    top: 0px;
    opacity: 1;
  }
  36% {
    top: 0px;
    opacity: 1;
    z-index: 0;
  }
  40% {
    top: 200px;
    opacity: 0;
    z-index: 0;
  }
  41% {
    top: -290px;
    opacity: 0;
    z-index: -1;
  }
  100% {
    top: -290px;
    opacity: 0;
    z-index: -1;
  }
}

@keyframes cycle3 {
  0% {
    top: -290px;
    opacity: 0;
  }
  36% {
    top: -290px;
    opacity: 0;
  }
  40% {
    top: 0px;
    opacity: 1;
  }
  44% {
    top: 0px;
    opacity: 1;
  }
  56% {
    top: 0px;
    opacity: 1;
    z-index: 0;
  }
  60% {
    top: 200px;
    opacity: 0;
    z-index: 0;
  }
  61% {
    top: -290px;
    opacity: 0;
    z-index: -1;
  }
  100% {
    top: -290px;
    opacity: 0;
    z-index: -1;
  }
}

@keyframes cycle4 {
  0% {
    top: -290px;
    opacity: 0;
  }
  56% {
    top: -290px;
    opacity: 0;
  }
  60% {
    top: 0px;
    opacity: 1;
  }
  64% {
    top: 0px;
    opacity: 1;
  }
  76% {
    top: 0px;
    opacity: 1;
    z-index: 0;
  }
  80% {
    top: 200px;
    opacity: 0;
    z-index: 0;
  }
  81% {
    top: -290px;
    opacity: 0;
    z-index: -1;
  }
  100% {
    top: -290px;
    opacity: 0;
    z-index: -1;
  }
}

@keyframes cycle5 {
  0% {
    top: -290px;
    opacity: 0;
  }
  76% {
    top: -290px;
    opacity: 0;
  }
  80% {
    top: 0px;
    opacity: 1;
  }
  84% {
    top: 0px;
    opacity: 1;
  }
  96% {
    top: 0px;
    opacity: 1;
    z-index: 0;
  }
  100% {
    top: 200px;
    opacity: 0;
    z-index: 0;
  }
}
  .mask-top {
    overflow: hidden;
    height: 115px;
  }

}


/* mediium scren too */

@media (min-width: 52em) {

  .research-1 {
      font-size: 2.2em;
  padding: 40px 30px 0;
}

  .carousel {
    position: relative;
    width: 100%;
    overflow: hidden;
    height: 433px;
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  
  }

  .caption1 {
    top: 380px;
  }



.hero-text {

}

.header .logo {
  margin-left: 60px;

}


.service-section {
  margin:;

}

.service-box {
  height: 355px;
}

.quote, .quote p {
  text-align: right;
  font-size: 4rem;
  margin: 0px 30px 0px 0px;
  text-decoration: underline;
  font-family: 'DM Serif Text', serif;
}

.about {
  text-align: center;
  font-size: 3rem;
  font-family: 'DM Serif Text', serif;
  padding: 1.5em;
  margin: 0 auto;
}


}
/*----- media query small end ----*/


/*MEDIUM SCREENS*/
@media (min-width: 56em) {


  .about-us p {
      padding: 20px 20px 20px;
  }

  .intro-text {
    padding: 5px 20px 20px;
    margin-top: 20px;
    font-size: 2.2em;
  }

  .thank-you {
   
    margin: 169px auto 110px;
  }

  .hero-text {
    top: 280px;
    padding: 20px 0px 10px;
    transform: translate(-50%, 0);
    left: 450px;
    width: 600px;
}

.hero-text h2 {
  color: #e9982d;
  width: 580px;
  font-size: 2.2em;
  font-family: 'Rubik', serif;
  font-weight: 800;
  line-height: 1.1em;
  margin: 0;
  text-shadow: 2px 2px black;
  text-align: left;
  padding-left: 25px;
}

.title-tag {
  font-size: 17px;
  width: 530px;
  padding-left: 30px;
   line-height: 24px;
   padding-top: 5px;
}

.service-text {
  font-size: 1rem;
}

.reel-stats {
  font-size: 1.5rem;
  font-family: 'Rubik', serif;
  list-style: none;
  justify-content: space-around;
  text-decoration: none;
}

.package-title {
  font-size: 3.5rem;
  font-weight: 800;
  font-family: 'Rubik', sans-serif;
  color: #fff;
  padding:60px 5px 5px;
  margin: 0;
  text-align: center;
}

.referrals-bg {
background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
background-size: 400% 400%;
animation: bg-change 15s ease infinite;
padding: 0;
margin: 0 auto;
width: auto;
}

.referrals {
  padding: 10px 0px;
}

.referrals p {
  margin: 0px 6px;
}

.reel-text {

  padding: 10px auto;
}

#contact-form {
  width: 60%;
}

#contact-form2 {
  width: 70%;
}




.package-para {

  margin-top: 40px;
  font-size: 15px;
}




}


@media only screen and (min-width: 60em) {


  .section-intro-section{
    margin: 3rem 0 3rem;
  }


  .case-card-container {
    max-width: 1300px;
    margin: 0rem auto;
    border-radius: 8px;
    box-shadow: 0 10px 24px rgba(0, 0, 0, 0.08);
  }

  .starter-package-t98 {
    max-width: 550px;

  }
  .quote-text {
    font-size: 2.7em;
  }

  .factpara {
  font-size: .9em;

}

.service-about-us {
 font-size: 2.2em;
}


  .box-pron98 {
  text-align: center;
    padding: 64px 40px 20px;
    font-size: 1.6em;
    font-family: 'DM Serif Text', serif;
    margin-top: 8rem;
}

  .hero1 {
padding: 130px 20px;

}

  .carousel {

    height: 560px;
  }

  .carousel-bg {

    margin: 0px;
    
  }

  .cs-feature-img {

  max-width: 60%;

}

  .caption1 {
    top: 480px;
  }


.reel-para {

  margin: 25px 0 0 20px;
  line-height: 1.5;
}

.case-study .masthead {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 1em;
  border-style: solid;
  border-width: 1px;
  border-color: #131313;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  opacity: 0;
  -webkit-transition: all 250ms linear;
  transition: all 500ms linear;
}

.case-study:hover .masthead {
  background-color: #00000075;
  opacity: 1;
}

.package-study .masthead3 {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 1em;
  border-style: solid;
  border-width: 1px;
  border-color: #131313;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  opacity: 1;
  -webkit-transition: all 250ms linear;
  transition: all 500ms linear;
}

.package-study:hover .masthead3 {
  background-color: #00000075;
  opacity: 1;
}


.packages-getting-started {
  color: #d6d5d4;
  background-color: yellow;
  background-image: url("../images/packages/sme-business.jpg");
  height: 600px;
  background-position: center center;
  background-size: 175vw auto;
  background-repeat: no-repeat;
}

.packages-upcoming {
  color: #d6d5d4;
  background-color: yellow;
  background-image: url("../images/packages/upandcoming.jpg");
  height: 600px;
  background-position: center center;
  background-size: 175vw auto;
  background-repeat: no-repeat;
}

.packages-editing {
  color: #d6d5d4;
  background-color: yellow;
  background-image: url("../images/packages/editing-package-large.jpg");
  height: 300px;
  background-position: center center;
  background-size: 175vw auto;
  background-repeat: no-repeat;
}



.portfolio-studies-1 {
background-size: 35vw auto;
background-position: 40%;
height: 293px;
}

.portfolio-1-bg {
background-color: #000;
}

.portfolio-studies-2 {
background-image: url("../images/excessive/excessive.jpg");
height: 293px;
background-size: 80vw auto;
background-position: 40% 52%;
}

.portfolio-2-bg {
background-color: #000;
}

.portfolio-studies-3 {
background-image: url("../images/redsquare/redsquare.webp");
background-size: 81vw auto;
background-position: 40% 52%;
}

.portfolio-studies-4 {
color: #d6d5d4;
background-color: yellow;
background-image: url("../images/eclectic/eclectic.jpg");
height: 293px;
background-position: center center;
background-size: 60vw auto;
background-repeat: no-repeat;
}

.portfolio-studies-5 {

background-position: center center;
background-size: 65vw auto;
}

.portfolio-studies-6 {
color: #d6d5d4;
background-color: yellow;
background-image: url("../images/red/red.jpg");
height: 293px;
background-position: center center;
background-size: 70vw auto;
background-repeat: no-repeat;
}

.portfolio-studies-7 {
color: #d6d5d4;
background-color: yellow;
background-image: url("../images/goodiebag/goodiebag.jpg");
height: 293px;
background-position: center center;
background-size: 100vw auto;
background-repeat: no-repeat;
}


.portfolio-studies-9 {
background-position: top center;
background-size: 33vw auto;

}


.portfolio-studies-10 {
  color: #d6d5d4;
  background-color: yellow;
  background-image: url("../images/sinari/sinarilarge.jpg");
  height: 293px;
  background-position: center center;
  background-size: 110vw auto;
  background-repeat: no-repeat;
}


.wrapper {
max-width: 725px;
margin: 1em auto;
}
.headcent{
text-align: center;
padding-top: 15rem;
}

.reel-text {
padding: 0px 25px 0px 0px;
margin: 0;
}

.reel-title {
  padding: 0px 0px 0px 0px;
  margin: 25px 0px 10px 0px;
}

.stats-bg1 {

  padding: 40px;
  margin: auto 0px;

}


.package-para {

  margin-top: 30px;
}

.para-contact {
  text-align: center;
  margin-top: 40px;


}
.socials {

  justify-content: left;

}

.service-box {
  height: 400px;
}

.stat-img {
padding-top: 35px;

}

.service-box {

  margin: 0px 15px;
}



    .package-img-intro-section{

    margin-top: 20px;
}


}

@media only screen and (min-width: 73.4em) {

.package-img-intro-section{

    margin: 20px 70px 0 0;
}

.service-quiz-box {

      max-width: 550px;
  
    }

}


/* Larger screen*/
@media only screen and (min-width: 90em) {


  .package-img-intro-section {

    margin-top: 0px;
  }

.case-card-container

 {
        max-width: 1859px;
   
    }


.starter-package-t98 {
  max-width: 750px;
  
}

  .package-para {

    margin-top: -30px;
  }

  .wrapper {
    max-width: 10000px;
  }

  .hero-text {
  top: 370px;
  left: 560px;
  width: 1000px;
  }

.hero-text h2 {
width: 980px;
font-size: 60px;
    }


.title-tag {
  font-size: 20px;
  width: 960px;

}  


  .reel-textport {
    font-size: 26px;
}

.reel-text {
  font-size: 3.7em;
}

.stats-bg3 {
  min-height: 400px;
  background-position: top center;
}

.withlove {
  width: 300px;
}

.withlovefromai {
  text-align: right;
}



}