<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Reel Agency</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Rubik:ital,wght@0,300;0,400;0,600;0,800;0,900;1,300;1,400;1,600;1,800;1,900&display=swap" rel="stylesheet">
    <link href="{{site.baseurl}}/css/common.css" rel="stylesheet">
    <meta name="handheldfriendly" content="true">
    <meta name="mobileoptimized" content="240">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">

  </head>

  <body>
<section class="showcase">
    <header class="header">


          <a class="logo" href="index.html">
            <img class="logo-img" src="{{site.baseurl}}/images/piolabs.png" alt="">
          </a>

      <nav>
        <input class="menu-btn" type="checkbox" id="menu-btn" />
        <label class="menu-icon" for="menu-btn"><span class="nav-icon"></span></label>

            <ul class="menu">
              <li><a href="{{site.baseurl}}/index.html" class="{% if page.url == '/' %}current{% endif %}">Home</a></li>
              <li><a href="{{site.baseurl}}/portfolio.html" class="{% if page.url == '/portfolio.html' %}current{% endif %}">Portfolio</a></li>
              <li><a href="{{site.baseurl}}/blog.html" class="{% if page.url == '/blog.html' %}current{% endif %}">Blog</a></li>
            </ul>

          </nav>

    </header>

    <div class="video">
      <video autoplay="autoplay" loop="loop" muted defaultMuted playsinline  oncontextmenu="return false;"  preload="auto" src="{{site.baseurl}}/images/reel.mp4"></video>

    </div>

    <div class="overlay"></div>
    <div class="hero-text">
      <h2>Your Voice,</h2>
      <h2>Your Stage,</h2>
      <h2>Lights!</h2>
      <p>We Make Businesses Happy</p>
      <a class="hero-btn" href="#">Services</a>
      <a class="hero-btn" href="#">Quote</a>
    </div>


    <div class="service-section">
      <ul class="service-icon">
        <li>
          <img class="service-img" src="http://placehold.it/50x50" alt="">
        </li>
      </ul>
      <ul class="service-icon">
        <li>
          <img class="service-img" src="http://placehold.it/50x50" alt="">
        </li>
      </ul>
      <ul class="service-icon">
        <li>
          <img class="service-img" src="http://placehold.it/50x50" alt="">
        </li>
      </ul>

    </div>

</section>

{{content}}



</body>
</html>
